@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300&display=swap");

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    /* width: 1200px; */
}

a {
    text-decoration: none;
    color: #333;
}

/* PARA QUE LS IMAGENES NO OCUPEN MAS QUE EL 100% DE SU CONTENEDOR. */
img {
    min-width: 100%;
}

h1 {
    text-transform: uppercase;
}

.uno {
    min-width: 100%;
    display: flex;
    background-image: url(/img/funkos-banner\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 15em;
    color: white;
    justify-content: center;
    flex-direction: column;
}
.uno div {
    margin-left: 4em;

}

.uno h2 {
    font-size: 2em;
    margin-bottom: 0;
}

.uno p {
    margin-top: 0.5em;
    font-size: 0.8em;
}

.uno .btn {
    margin-top: 1.5em;
    font-size: 1em;
    display: inline-block;
    width: 7em;
    height: 2em;
    border-radius: 20px;
    background-color: #ffffff;
    color: #333;
    transition: 0.3s;
    text-align: center;
    line-height: 2em;
    text-transform: uppercase;
}

.uno .btn:hover {
    background-color: #333;
    color: #ffffff;
}

.dos .btn {
    margin-top: 1.5em;
    font-size: 1em;
    display: inline-block;
    width: 12em;
    height: 2em;
    border-radius: 20px;
    background-color: #30343F;
    color: #ffffff;
    transition: 0.3s;
    text-align: center;
    line-height: 2em;
    text-transform: uppercase;
}
